<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">

        <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
               <h4 class ="text-white"> Siga-nos nas redes sociais</h4>

            </div>
        </div>

        <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

                <ul class = "social-network">
                
                    <li>
                        <a href="https://www.facebook.com/caiqueramock/" target="_blank" class="IconFace">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/caiqueramos08" target="_blank" class="IconGit">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/caco.8/" target="_blank" class="IconInsta">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>

                </ul>

               </div> 
            </div>
        </div>

<div class = "footer-copyright bg-dark text-center py-3">
    <span class = "text-light"> &copy; 2022 Caco - Dev</span>
</div>


</footer>
