<div class="container-fluid bg-container py-4 color">
  <div class="container d-flex justify-content-center">
    <div class="w-25 d-flex justify-content-around text-white-50">
     <a href="https://github.com/caiqueramos08" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a> 
     <a href="https://www.instagram.com/caco.8/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a> 
      <a href="https://www.linkedin.com/in/caique-ramos-b901ba157/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a> 
    </div>
  </div>
</div>
<div class="container-fluid bg-container-dark color">
  <div class="container">
    <p class="text-center text-white py-3 m-0">Desenvolvido para Entreterimento - Caique Ramos - 2022</p>
  </div>
</div>