<div class="container-fluid bg-dark py-4">
  <div class="container d-flex justify-content-center">
    <div class="w-25 d-flex justify-content-around text-white-50">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
      <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="container-fluid bg-container-dark ">
  <div class="container">
    <p class="text-center text-white py-3 m-0">Rede Social Criada por Caco </p>
  </div>
</div>