.btn-accent {
  border: 2px solid #f6f5f7;
  background-color: transparent;
  color: #fc1111;
}

.btn-accent:hover {
  background-color: #f10a0a;
  color: rgb(247, 243, 243);
}

.color{
  background-color: black;
  
  
  }

