<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="main-menu mobile-menu">
                    <ul>
                        <li><a href="" routerLink="/entrar">Entrar</a></li>
                        <li class="active"><a href="" routerLink="/sobre">Sobre</a></li>
                        <li><a href="" routerLink="/cadastrar">Cadastrar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>

    <body>
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <section class="about-us-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="as-pic">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="as-text ap-text">
                            <div class="section-title">
                                <span>Sobre</span>
                                <h2>Blog Caco 2.0</h2>
                            </div>
                            <p class="f-para">Um blog é um domínio na internet que o usuário pode usar para contar
                                histórias, publicar conteúdos pessoais e escrever sobre qualquer tipo de assunto do seu
                                interesse e conhecimento. </p>
                            <p class="s-para">Blogs são páginas on-line, atualizadas com frequência, que podem ser
                                diários pessoais, periódicos ou empresariais. Dessa forma, são formas de comunicação de
                                pessoas e de instituições com o mundo. </p>
                            <div class="about-counter">
                                <div class="ac-item">
                                    <h2 class="ab-count">80</h2>
                                    <p>Membros</p>
                                </div>
                                <div class="ac-item">
                                    <h2 class="ab-count">88</h2>
                                    <p>Posts</p>
                                </div>
                                <div class="ac-item">
                                    <h2 class="ab-count">888</h2>
                                    <p>Temas</p>
                                </div>
                                <div class="ac-item">
                                    <h2 class="ab-count">4677</h2>
                                    <p>Designs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="member-section spad ap-member">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>Programação</span>
                            <h2>Linguagens</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="member-item set-bg" data-setbg="">
                            <img src="https://i.imgur.com/xuwFxzA.png" alt="">
                            <div class="mi-text">
                                <p>O Angular pode ser utilizado para criar aplicações web SPA, aplicações mobile (com o
                                    suporte do Ionic, por exemplo) ou até mesmo aplicações desktop (com o suporte do
                                    Electron).</p>
                                <div class="mt-title">
                                    <h4>Angular</h4>
                                    <span>Front - End</span>
                                </div>
                                <div class="mt-social">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member-item set-bg" data-setbg="img/member/member-2.jpg">
                            <img src="https://i.imgur.com/kLnNeTL.png" alt="">
                            <div class="mi-text">
                                <p>O Spring Boot é um framework Java open source que tem como objetivo facilitar esse
                                    processo em aplicações Java. Consequentemente, ele traz mais agilidade para o
                                    processo de desenvolvimento, uma vez que devs conseguem reduzir o tempo gasto com as
                                    configurações iniciais.</p>
                                <div class="mt-title">
                                    <h4>SpringBoot</h4>
                                    <span>Back-End</span>
                                </div>
                                <div class="mt-social">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member-item set-bg">
                            <img src="https://i.imgur.com/mV77WKY.png" alt="">
                            <div class="mi-text">
                                <p>Java é uma linguagem de programação e plataforma computacional lançada pela primeira
                                    vez pela Sun Microsystems em 1995. Existem muitas aplicações e sites que não
                                    funcionarão, a menos que você tenha o Java instalado, e mais desses são criados
                                    todos os dias. O Java é rápido, seguro e confiável.</p>
                                <div class="mt-title">
                                    <h4>Java</h4>
                                    <span>Back-End</span>
                                </div>
                                <div class="mt-social">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member-item set-bg" data-setbg="img/member/member-4.jpg">
                            <img src="https://i.imgur.com/oLgf91u.png" alt="">
                            <div class="mi-text">
                                <p>Bootstrap é um poderoso kit de ferramentas - uma coleção de ferramentas HTML, CSS e
                                    JavaScript para criar e construir páginas da web e aplicativos da web . É um projeto
                                    gratuito e de código aberto, hospedado no GitHub e originalmente criado pelo (e
                                    para) Twitter.</p>
                                <div class="mt-title">
                                    <h4>Bootstrap</h4>
                                    <span>Front-End</span>
                                </div>
                                <div class="mt-social">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member-item set-bg" data-setbg="img/member/member-5.jpg">
                            <img src="https://i.imgur.com/zlSzIHy.png" alt="">
                            <div class="mi-text">
                                <p>O MySQL cria um banco de dados para armazenamento e manipulação de dados, definindo a
                                    relação de cada tabela. Clientes podem fazer solicitações digitando comandos SQL
                                    específicos no MySQL. A aplicação do servidor responde com a informação solicitada
                                    fazendo aparecer no cliente</p>
                                <div class="mt-title">
                                    <h4>MySQL</h4>
                                    <span>Banco de Dados</span>
                                </div>
                                <div class="mt-social">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="member-item set-bg" data-setbg="img/member/member-6.jpg">
                            <img src="https://i.imgur.com/CzsrLjc.png" alt="">
                            <div class="mi-text">
                                <p>CSS (Folha de Estilo em Cascata) é o código que você usa para dar estilo à sua página
                                    Web.</p>
                                <div class="mt-title">
                                    <h4>CSS</h4>
                                    <span>Front-End</span>
                                </div>
                                <div class="mt-social">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="ctc-text">
                            <h2>Conheça Nosso Desenvolvedor!</h2>
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-10 d-flex align-items-stretch fotoDeve">
                                    <div class="member">
                                        <div class="member-img">
                                            <img src="https://i.imgur.com/iU6pDcD.jpg" class="img-fluid" alt="">
                                            <div class="social">
                                                <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://github.com/" target="_blank" class="icoGithub">
                                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                                </a>

                                                <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin">
                                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                            <h4>Caique Ramos</h4>
                                            <span>Desenvolvedor FullStack - JR</span>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <p>Olá,sou Caique Ramos;
                                    Sou desenvolvedor Java FullStack junior formado em analise e desenvolvimento de
                                    sistema e na Generation Brasil, tenho experiência anteriormente como analista de
                                    sistema numa empresa de cobrança onde trabalhava com integração de API, CRM e
                                    Discadores de cobrança, importação de cargas , manutenção em banco de dados (SQL
                                    Server) automatizando processos e criando soluções, automação de tarefas com
                                    Linguagem Python e gerenciamento de projeto utilizando metodologia Ágil (SRUM).
                                    agora Incluindo conhecimentos adquiridos como java,Angular, TypeSacript, Bootstraap,
                                    SpringBoot e Mysql.
                                    Hoje como desenvolvedor espero aplicar tudo que obtive de conhecimento no decorrer
                                    do bootcamp e na minha experiência profissional anteriormente para crescer junto a
                                    empresa, sou uma pessoal que sempre busca mais conhecimentos e dedicado no que
                                    faço,gosto de trabalhar em equipe e enfrentar desafios, nas horas vagas pratico
                                    esporte como Futsal onde fui federado e pude atuar profissionalmente durante dois
                                    anos na minha vida,. espero o contado de todos para juntos termos mais experiencias
                                    segue meu email, Linkedin e Github para contato.
                                    .</p>
                                <a href="#" class="primary-btn ctc-btn" routerLink="/entrar">Vamos Navegar!!!!!</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
    </body>