<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
        <img src="https://avatars.githubusercontent.com/u/98482533?s=400&u=bd08766c610cf9f733aed73a6c30a25628d93052&v=4"
         alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class = "m-0 font-weight-bold text-white fs-16">Nome do Usuario: </p>
        </li>

      <li class="nav-item pl-3">
        <a href="">
          
          <i class="fa-solid fa-pen-to-square text-white fs-16"></i>

        </a>
  
      </li>

      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center" >

       
      <li class="nav-item pl-18">
        <a href="">
          
         <p class = "m-0 font-weight-bold text-white fs-16">Sair <i class="fa-solid fa-right-from-bracket text-white fs-16"></i></p> 

        </a>
  
      </li>
      </ul>
   
    </div>
  </nav>
