#imgBg {
  background-image: url('https://i.imgur.com/PQYwb9v.png');
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.color {
  background-color: #000000;
}

.text {
  color: #ffc0ae;
}

.cor {
  background-color:#ffc0ae;
}

.corcaixa {
  background-color: #f7cfff;
}